/* // reset everything */
*, *::before,*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  border: 0 solid transparent;
}

/* // prevent iOS font size change */
html {
  -webkit-text-size-adjust: 100%;
}

/* // reset body line-height */
body {
  min-height: 100vh;
  line-height: 1;
  text-rendering: optimizeSpeed;
  color: #888;
}

/* // all media elements set to block and full width */
img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  max-width: 100%;
}

/* // inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
  line-height: inherit;
  color: inherit;
}

/* // collapse table */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* // assign button hover state */
button, [role="button"] {
  cursor: pointer;
  background-color: transparent;
  -webkit-tap-highlight-color: transparent;
  &:focus {
    outline: 0;
  }
}

/* // reset anchor style */
a {
  cursor: pointer;
  color: inherit;
  text-decoration: inherit;
  -webkit-tap-highlight-color: transparent;
}

/* // reset heading style */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/* // reset list style */
ol, ul {
  list-style: none;
  margin: 0;
}
p{
    margin: 0;
    padding: 0;
}

/* // reset text input style */
[type=date],
[type=datetime],
[type=datetime-local],
[type=email],
[type=month],
[type=number],
[type=password],
[type=search],
[type=tel],
[type=text],
[type=time],
[type=url],
[type=week],
textarea,
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100%;
  &:focus {
    outline: 0;
  }
}

/* // reset firefox placeholder opacity */
::-moz-placeholder {
  opacity: 1;
}

/* // reset textarea style */
textarea {
  /* // move the label to the top */
  vertical-align: top;

  /* // turn off scroll bars in IE unless needed */
  overflow: auto;
}

/* // reset checkbox and radio style */
[type='checkbox'],
[type='radio'] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  &:focus {
    outline: 0
  }
}

/* // remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* header top navbar  */

.ra-NavBar {
    background-color: #f2f5fc;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    overflow-anchor: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
}

.ra-NavBarTop {
    width: 100%;
    background-color: #0675c1;
    color: #fff;
}
.ra-NavBarTop a{
    color: #fff;
}
.ra-NavBarTop .ra-topHelpContact {
    display: flex;
    align-items: center;
    
}
.ra-navbarMain ul li a {
    padding: 15px 15px!important;
}
.ra-navbarMain ul li:nth-last-child(1) a {
    background-color: #0675c1;
    padding: 15px 25px!important;
    border-radius: 10px;
    border: 1px solid transparent;
    transition: 0.3s ease-in-out;
}
.ra-navbarMain ul li:nth-last-child(1) a:hover{
    background-color: transparent;
    border: 1px solid #0675c1;
    color: #0675c1;
    transition: 0.3s ease-in-out;
}
.ra-navbarMain ul li:nth-last-child(1) a{
    color: #fff;
}
.ra-navbarMain p{
    color: #000;
}
.rightSideHero{
    margin-top: 20vh;
}
.leftSideHero{
    margin-top: 40vh;
}
.leftSideHero h1 {
    font-size: 36px;
    font-family: "Nunito", sans-serif;
    font-weight: 700;
    color: #000;
    margin-bottom: 30px;
}
.leftSideHero h2{
        font-size: 22px;
        font-family: "Nunito", sans-serif;
        font-weight: 700;
        color: #000;
        margin-bottom: 20px;
}
.btn2 {
    margin-bottom: 10px;
    position: relative;
    letter-spacing: 0 !important;
    font-size: 16px !important;
    line-height: 42px;
    background: #0675c1;
    color: #fff !important;
    padding: 0px 25px;
    display: inline-block;
    border-radius: 10px;
    cursor: pointer;
    border: 1px solid #0675c1;
    transition: 0.5s;
    -webkit-box-shadow: 24px 23px 11px -28px rgba(0, 0, 0, 0.75);
    width: auto;
    height: 42p;
    -moz-box-shadow: 24px 23px 11px -28px rgba(0, 0, 0, 0.75);
    box-shadow: 24px 23px 11px -28px rgba(0, 0, 0, 0.75);
}
.btn2:hover {
    background: #fff;
    color: #0675c1 !important;
    transition: 0.5s;
}


.ra-hero-img {
    padding: 4rem;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    z-index: 9;
    position: relative;
}
.ra-hero-img::before {
    content: "";
    width: 220px;
    height: 180px;
    background-color: #ff652f3b;
    border-radius: 50%;
    position: absolute;
    top: 25%;
    left: 0;
    z-index: -1;
}
.ra-hero-img::after {
    content: "";
    width: 120px;
    height: 140px;
    background-color: #0675c16e;
    border-radius: 40% 13%;
    position: absolute;
    right: 8%;
    top: 45%;
    z-index: -1;
}
.ra-hero-img{
        padding: 4rem;
        width: 90%;
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        z-index: 9;
        position: relative;
    
}
.ra-hero-img img{
    width: 43%;
}

.ra-hero-img img:nth-child(1) {
    border-top-left-radius: 8rem;
    filter: drop-shadow(0px 0px 3px);
}
.ra-hero-img img:nth-child(2) {
    width: 160px;
    height: 160px;
    border-radius: 5px;
    align-self: flex-end;
    filter: drop-shadow(0px 0px 3px);
}
.ra-hero-img img:nth-child(3) {
    width: 160px;
    height: 160px;
    align-self: self-start;
    border-radius: 5px;
    filter: drop-shadow(0px 0px 3px);
}
.ra-hero-img img:nth-child(4) {
    border-bottom-right-radius: 12rem;
    filter: drop-shadow(0px 0px 3px);
}

.floating {
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
@keyframes floating {
    0% {
      transform: translate(0, 0px);
    }
    50% {
      transform: translate(4px, 4px);
    }
    100% {
      transform: translate(0, -0px);
    }
  }
.floating2 {
    animation-name: floating2;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
@keyframes floating2 {
    0% {
      transform: translate(0, 0px);
    }
    50% {
      transform: translate(-4px, -4px);
    }
    100% {
      transform: translate(0, -0px);
    }
  }

  
  /* counter part */
  .count-wrapper {
    background: #0675c1;
    border-radius: 24px;
    box-shadow: 0px 12px 26px 1px #0675c159;
}
.happy-count-content {
    position: relative;
    padding: 40px 80px 30px 80px;
}
.count-single-box{
    position: relative;
}
.count-single-box img {
    padding: 0 20px 0 0;
}
.count-box-content h2 {
    font-size: 34px;
    line-height: 51px;
    font-weight: 600;
    letter-spacing: 0;
    color: #fff;
}
.count-box-content p {
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    letter-spacing: 0;
    color: #fff;
}
.tutor-job-section {
    position: relative;
    padding: 0px 10px 25px 10px;
}
.jobs-title {
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    color: #fff;
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: center;
}
.t_slider{
  display: flex;
  padding: 1rem;
}
.slick-dots{
  display: none!important;
}
.tslide_item p{
  padding: 10px 20px;
  margin: 0 10px;
  border: 1px solid #fff;
  border-radius: 10px;
  color: #fff;
}

/* slider arow css */
/* //CSS */
.slick-arrow{
 margin: 10px 0 ;
 color: #272727;
 font-weight: bold;
}
.slick-arrow:hover{
  color: #fff;
  cursor: pointer;
}
/* slider arow css */